<!-- src/assets/components/footer.html -->
<!-- Divider -->
<script src="src/js/script.js"></script>
 
<hr class="section-divider">

<footer class="final-section">
  <div class="social-links">
    <a href="https://twitter.com/banodoco" target="_blank" class="social-link">
      <span style="font-weight: bold; font-size: 18px;">𝕏</span>
    </a>
    <a href="https://github.com/banodoco" target="_blank" class="social-link">
      <i data-feather="github"></i>
    </a>
    <a href="https://www.youtube.com/@banodoco" target="_blank" class="social-link">
      <i data-feather="youtube"></i>
    </a>

    <!-- Watering Can Animation -->
    <div class="watering-container">
      <div class="watering-can">
        <div class="can-body"></div>
        <div class="spout"></div>
        <div class="handle"></div>
        <div class="water-drops">
          <div class="drop"></div>
          <div class="drop"></div>
          <div class="drop"></div>
        </div>
      </div>
    </div>
    <div id="initialBud"></div>
  </div>
</footer>
